* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #e0f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.title {
  letter-spacing: 4px;
  color: #4a4a4a;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 1.4rem;
}

.splitter-card {
  background: #fff;
  display: flex;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  max-width: 700px;
  width: 100%;
}

.input-panel,
.result-panel {
  padding: 2rem;
  flex: 1;
}

.input-panel {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
}

.input-panel label,
.tip-selection {
  font-size: 0.9rem;
  color: #4a4a4a;
}

.input-panel input {
  width: 100%;
  padding: 10px;
  margin-top: 0.5rem;
  font-size: 1rem;
  border: 2px solid #dce8e8;
  border-radius: 5px;
}

.tip-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 0.5rem;
}

.tip-buttons button,
.tip-buttons input {
  flex: 1 1 calc(30% - 0.5rem);
  padding: 0.6rem 0;
  background-color: #00494d;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.tip-buttons input {
  background-color: #f4fafa;
  color: #00494d;
  border: 2px solid #c4f1f1;
}

.tip-buttons .active {
  background-color: #26c0ab;
}

.result-panel {
  background-color: #00494d;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.amount .label {
  font-size: 0.9rem;
  font-weight: 500;
}

.amount small {
  color: #7f9d9f;
  font-size: 0.8rem;
}

.amount .value {
  font-size: 1.8rem;
  font-weight: 700;
  color: #26c0ab;
}

.amount .value.total {
  font-size: 2rem;
}

.reset {
  padding: 1rem;
  background-color: #26c0ab;
  color: #00494d;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}
